textarea {
    max-width: 100%;
    min-width: 100%;
}

.panel fieldset legend {
    background: none;
}

.no-margin {
    margin: 0;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-top {
    margin-top: 10px;
}

.max-width {
    max-width: 100%;
}