{% extends "layout.html" %}
{% from "_helpers.html" import render_field, flashes %}
{% set activepage = 'administration' %}

{% block content %}
    <div class="panel clearfix">
        <div class="row">
            <div class="large-12 columns">
                <h3>Administration</h3>
            </div>
        </div>
        <div class="row">
            <div class="large-3 columns">
                <a href="{{ url_for('admin.user') }}" class="button"><i class="fi-torso"></i> User Admin</a>
            </div>
            <div class="large-3 columns">
                <a href="{{ url_for('admin.file') }}" class="button"><i class="fi-folder-add"></i> File Admin</a>
            </div>
            <div class="large-3 columns">
                <a href="{{ url_for('admin.category') }}" class="button"><i class="fi-list-bullet"></i> Category Admin</a>
            </div>
            <div class="large-3 columns">
                <a href="{{ url_for('admin.usergroup') }}" class="button"><i class="fi-torsos-all"></i> Usergroup Admin</a>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <h3>Quick Statistics</h3>
            </div>
        </div>
        <div class="row">
            <div class="large-centered large-12 columns">
                <table width="100%">
                    <tbody>
                    {% for stat in stats %}
                        <tr>
                            <td><b>{{ stat.name }}</b></td>
                            <td>{{ stat.result }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {{ flashes() }}
    </div>
{% endblock %}