{% macro render_field(field) %}
    <div class="row">
        <div class="large-12 columns {% if field.errors %} error {% endif %}">
            <label>{{ field.label }}</label>
            {{ field(**kwargs) | safe }}
            {% if field.errors %}
            <small>
                {% for error in field.errors %}
                    {{ error }} <br />
                {% endfor %}
            </small>
        {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_nav(url, id, name, active_page) %}
    <li {% if id == active_page %} class="active"{% endif %}><a href="{{ url_for(url) }}">{{ name }}</a></li>
{% endmacro %}