{% extends "layout.html" %}
{% from "_helpers.html" import render_field, flashes %}
{% set activepage = 'index' %}

{% block content %}
    <div class="panel clearfix">
        <p>{{ flashes() }}</p>
        <div class="row margin-bottom" id="row-files">
            <h3>Latest uploads</h3>
            {% if files|length < 1 %}
                <div class="large-3 large-centered">
                    <em>No files have been uploaded yet</em>
                </div>
            {% else %}
                <ul class="large-block-grid-{{ files|length }} large-centered">
                    {% for file in files|reverse %}
                        <li>
                            <div class="row">
                                <strong><a href="{{ url_for('file.file_one', fileid=file.id, slug=file.slug) }}">{{ file.name }}</a></strong>
                            </div>
                            <div class="row">
                                <img src="{{ url_for('file.preview', id=file.id, number=1) }}" alt="preview image 1" class="preview-img" style="width: {{ config['PREVIEW_MAX_IMGSIZE'][0] }}px"/>
                            </div>
                            <div class="row">
                                <div class="large-12">
                                    created by <strong>{{ file.author.username }}</strong>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="row margin-bottom" id="row-comments">
            <h3>Latest comments</h3>
            {% if comments|length < 1 %}
                <div class="large-9 large-centered">
                    <em>No comments have been made yet</em>
                </div>
            {% else %}
                <table style="min-width: 100%;">
                    <thead>
                    <tr>
                        <th style="width:30%;">User</th>
                        <th style="width:70%;">Comment</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for comment in comments|reverse %}
                            <tr>
                                <td>{{ comment.user.username|striptags }}</td>
                                <td>{{ comment.text|striptags }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}