{% from "_helpers.html" import render_field %}
<form method=post action="/register/">
  <dl>
    {{ form.hidden_tag() }}
    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.confirm_email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm_password) }}
  </dl>
  <p><input type=submit value=Register>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}